@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --stroke-color: black;
}
/* #F5FAFA */
[data-theme="light"] {
  --color-bg: linear-gradient(135deg, #2C003E, #000033);;
  --color-text: #222;
  --color-border: #ddd;
  --color-subHeading: #444444; /*gray-600*/
  --stroke-color: #0d1216;
  --card-bg: hsl(220, 22%, 92%);
  --button-bg: #3B3B3B;
  --primary-button-bg: #7559ff;
  --primary-button-hover: #341da6;
  --button-text: #ffffff;
  --button-hover: #222;
  --input-bg: white;
  --input-border: #19181822;
  --input-focus-border: #dddddd1e;
  --creator-bg: #e5e7eb; /*gray-100*/
  --hr-border: #9ca3af;
  --toggle-border: #9ca3af;
  --toggle-bg: #e5e7eb;
  --wallet-bg: white;
}

[data-theme="dark"] {
  --color-bg: linear-gradient(290deg, rgba(27,1,47,1) 0%, rgba(8,12,19,1) 99%);
  --color-text: #f4f4f9;
  --color-border: #dddddd1e;
  --color-subHeading: #d1d5db; /*gray-300*/
  --stroke-color: #f4f4f9;
  --card-bg: #111827; /*gray-900*/
  --button-bg: #3a3a5a;
  --primary-button-bg: #3B4EF4;
  --primary-button-hover: #0D22DF;
  --button-text: #ffffff;
  --button-hover: #4A4A6A;
  --input-bg: #18181b;
  --input-border: #18181b;
  --input-focus-border: #dddddd1e;
  --creator-bg: #1A1A2E;
  --hr-border: #dddddd1e;
  --toggle-border: #dddddd31;
  --toggle-bg: #1f2937;
  --wallet-bg: transparent;
}

@media (prefers-color-scheme: dark) {
  :root {
    --stroke-color: white;
  }
}
